<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38819959183-0fo0r4dh0iq5nm0r495p7h4dv7lr8qkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38819959183-0fo0r4dh0iq5nm0r495p7h4dv7lr8qkv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>38819959183-r5umjibohvgs5hk65khvl31a61cmc4gm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWef9kf003SZqyR0d4j0ZiHoswTRr0690</string>
	<key>GCM_SENDER_ID</key>
	<string>38819959183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homeeuser</string>
	<key>PROJECT_ID</key>
	<string>homee-foodz-293af</string>
	<key>STORAGE_BUCKET</key>
	<string>homee-foodz-293af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38819959183:ios:594733c70f049a826dfbfa</string>
</dict>
</plist>